<!DOCTYPE html>
<html class="no-js">
	
	{% include head--splash.html %}

	<body>
		<div class="splash-wrap">
			<div class="cover">
				<div class="section-content">
					<h1 class="masthead-title">Metuchen <b>SEPAC</b></h1>
					<p class="home_big">The <strong>Metuchen Special Education Parent Advisory Council</strong> is a parent-led organization that advocates for the optimum education of children with special needs. We welcome all parents, teachers, caregivers, and concerned friends to join us.</p>
					<div class="there-is-more"></div>
				</div>
			</div>
			<section>
				<div class="section-content">
					<h2>Join Us</h2>
					<div class="unit">
						<h3>Next Meeting: <strong class="highlight">Dyslexia: Making It Personal</strong></h3>
						<p>Designed for teachers, administrators and parents, this interactive simulation gives you firsthand knowledge about the challenges and frustrations faced by people with this language-based learning difference. You'll experience what dyslexia is like — and understand it like never before.</p>
						<p>March 3, 2016</p>
						<p>7:00 - 9:00p.m.</p>
						<p>Metuchen High School Cafeteria</p>
					</div>
					<div class="unit pull-right">
						<h3>Join our mailing list</h3>
						<p>Hear from us about meetings, events we sponsor and other SEPAC news.</p>
						<form action="//metuchensepac.us9.list-manage.com/subscribe/post?u=54904b5c7c3f9fece69652f55&amp;id=91bd8c9b96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<label>
								Name
								<input type="text" value="" name="NAME">
							</label>
							<label>
								Email Address
								<input type="email" value="" name="EMAIL">
							</label>
							<input type="submit" value="Submit">
						</form>
					</div>
				</div>
			</section>
			<section class="contact-info">
				<div class="section-content">
					<h2>Contact Us</h2>
					<div class="unit">
						<h3>Metuchen SEPAC</h3>
						<p class="contact-option"><i class="icon-email"></i><a href="mailto:info@metuchensepac.org">info@metuchensepac.org</a></p>
						<h4>School Liasons</h4>
						<ul>
							<li>
								<p>Moss / Campbell Elementary School</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:mosscampbell@metuchensepac.org">mosscampbell@metuchensepac.org</a></p>
							</li>
							<li>
								<p>Edgar Middle School</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:edgar@metuchensepac.org">edgar@metuchensepac.org</a></p>
							</li>
							<li>
								<p>Metuchen High School</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:mhs@metuchensepac.org">mhs@metuchensepac.org</a></p>
							</li>
						</ul>
					</div>
					<div class="unit pull-right">
						<h3>Metuchen Department of Special Services</h3>
						<p class="contact-option"><i class="icon-phone"></i>732-321-8700</p>
						<h4>Director</h4>
						<ul>
							<li>
								<p>Robert Capra</p>
								<p class="contact-option"><i class="icon-phone"></i>732-321-8700 ext. 1006</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:rcapra@metboe.k12.nj.us">rcapra@metboe.k12.nj.us</a></p>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
