<!DOCTYPE html>
<html class="no-js">
	
	{% include head--splash.html %}

	<body>
		<div class="splash-wrap">
			<div class="cover">
				<div class="section-content">
					<h1 class="masthead-title">Metuchen <b>SEPAC</b></h1>
					<p class="home_big">The <strong>Metuchen Special Education Parent Advisory Council</strong> is a parent-lead organization that advocates for the optimum education of children with special needs. We welcome all parents, teachers, care-givers, and concerned friends to join us.</p>
					<div class="there-is-more"></div>
				</div>
			</div>
			<section>
				<div class="section-content">
					<h2>Join Us</h2>
					<div class="unit">
						<h3>Next Meeting: <strong class="highlight">October 8th at 7:00 p.m.</strong></h3>
						<p>Join us for our first meeting of the 2015 - 2016 school year on October 8th from 7:00 to 9:00 p.m. in the Metuchen High School library.</p>
						<p>Meet Bob Capra, Director of Metuchen Department of Special Services and help us plan for the upcoming year.</p>
					</div>
					<div class="unit pull-right">
						<h3>Sign up</h3>
						<p>Join our mailing list to find out about meetings, events we sponsor and other topics of interest.</p>
						<form action="//metuchensepac.us9.list-manage.com/subscribe/post?u=54904b5c7c3f9fece69652f55&amp;id=91bd8c9b96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<label>
							Name
							<input type="text" value="" name="NAME">
						</label>
						<label>
							Email Address
							<input type="email" value="" name="EMAIL">
						</label>
						<input type="submit" value="Submit">
					</div>
				</div>
			</section>
			<section class="contact-info">
				<div class="section-content">
					<h2>Contact Us</h2>
					<div class="unit">
						<h3>Metuchen SEPAC</h3>
						<p class="contact-option"><i class="icon-email"></i><a href="mailto:info@metuchensepac.org">info@metuchensepac.org</a></p>
						<h4>School Liasons</h4>
						<ul>
							<li>
								<p>Moss / Campbell Elementary School</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:liason.campbell@metuchensepac.org">liason.campbell@metuchensepac.org</a></p>
							</li>
							<li>
								<p>Edgar Middle School</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:liason.edgar@metuchensepac.org">liason.edgar@metuchensepac.org</a></p>
							</li>
							<li>
								<p>Metuchen High School</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:liason.mhs@metuchensepac.org">liason.mhs@metuchensepac.org</a></p>
							</li>
						</ul>
					</div>
					<div class="unit pull-right">
						<h3>Metuchen Department of Special Services</h3>
						<p class="contact-option"><i class="icon-phone"></i>732-321-8700</p>
						<h4>Director</h4>
						<ul>
							<li>
								<p>Robert Capra</p>
								<p class="contact-option"><i class="icon-phone"></i>732-321-8700 ext. 1006</p>
								<p class="contact-option"><i class="icon-email"></i><a href="mailto:rcapra@metboe.k12.nj.us">rcapra@metboe.k12.nj.us</a></p>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
